body, td, th {font-family: sans; font-size: 14; line-height: 1.3; vertical-align: top;}
body {border: 0 solid #DDD; margin: 25; background: white;}

table.main {border-collapse: collapse; margin: 0;}
table.main tr td {border-top: 1px solid #DDD;}
table.main tr td, th {padding: 5 10;}
table.main tr {height: 50;}
table.parameters tr td {padding: 10 4;}
table.main th
{
    color: #AAA; padding: 15 7; font-weight: normal; font-size: 10; vertical-align: bottom; text-align: left;
}

table.result {padding: 0; margin: 0;}
table.result tr td, th {padding: 2 5; border: none; font-size: 11;}
table.result tr {height: auto;}
table.result th {padding: 2 5;}

li {font-size: 14;}

a {color: #4183C4; text-decoration: none;}
a:hover {color: #3070B0;}

h2 {font-weight: normal; margin: 0; padding: 12 15; color: #444; font-size: 16;}
tt {font-family: "Courier New", "Consolas", monospace, monospaced}

form {padding-left: 5; padding-bottom: 5; margin: 0;}
input[type=submit] 
{	
    padding: 10 50; background: #36D; border: 1px solid #14B; cursor: pointer;
    border-radius: 5; color: white; border-bottom: 2 solid #14B;
}
input[type=submit]:hover {background: #25C;}
input.kill[type=submit] {padding: 0; background: none; border: none; color: black; font-size: 20;}
input.kill[type=submit]:hover {color: #888;}

div {float: left; border: 0 solid red; margin-right: 20;}

.statustd {background: #FFF; text-align: center;}
.good, .bad, .done, .testing, .waiting, .processing, .fail, .failed
{color: white; border-radius: 3px; padding: 1 3; font-size: 11;}

.status {font-size: 11;}

.good, .done {border: 1px solid #4A5; color: #4A5}
.bad, .fail, .failed {border: 1px solid #D00; color: #D00}
.waiting {border: 1px solid #AAA; color: #AAA;}

.testing, .processing {border: 1px solid #AAA; background: #AAA; color: #FFF;}

.testing, .processing
{
    -webkit-animation: blink 1s steps(50, start) infinite;
    animation: blink 1s steps(50, start) infinite;
}
.tag
{
    color: #888; border: 1 solid #999; border-radius: 3; padding: 1 2; font-size: 10; 
    position: relative; top: -1;
}

.branch {margin-left: 5; position: relative; top: -2;}
.checkbox {cursor: pointer; text-indent: 25;}
.grey {color: #888; font-size: 12;}
.label {vertical-align: middle; color: #AAA; font-size: 10; text-align: right;}
.log {text-align: center; font-size: 12;}
.more
{
    color: #AAA; border-top: 1px solid #DDD; font-size: 11; cursor: pointer; margin-top: 3; padding-top: 2;
    text-align: center; width: 100%;
}
.number {text-align: center; width: 30;}
.send {border-right: solid 1px #DDD;}
.small {font-size: 11;}
.status {text-align: center;}
.ti {text-indent: -25; margin: 0; margin-left: 25;}
.user {font-style: italic; font-size: 11;}
.zero {color: #DDD;}

@keyframes blink {to {background-color: #FFF;}}
@-webkit-keyframes blink {to {background-color: #FFF;}}
